<div class="container w-50 mt-5 border shadow p-5">
    <form [formGroup]="productForm" (ngSubmit)="save()">
      <h2>Enter Product</h2>
        <div class="mb-3">
          <label for="id1" class="form-label">Product Name :</label>
          <input type="text" class="form-control" id="id1" formControlName="pname">
        </div>
        <div class="mb-3">
          <label for="id2" class="form-label">Category :</label>
          <input type="text" class="form-control" id="id2" formControlName="category">
        </div>
        <div class="mb-3">
          <label for="id3" class="form-label">Price :</label>
          <input type="text" class="form-control" id="id3" formControlName="price">
        </div>
        <div class="mb-3">
          <label for="id4" class="form-label">Stock :</label>
          <input type="text" class="form-control" id="id4" formControlName="stock">
        </div>
      
        <button type="submit" class="btn btn-primary" #saveBtn>Save</button>
        <button type="button" class="btn btn-primary ms-2" routerLink="/product/product-list">Back</button><br><br>
        
      </form>
</div>
